CREATE OR ALTER   FUNCTION [dbo].[FN_RMD_TRNTRAN_DEBTORSCREDITORS]
(
@ISDEBTORS TINYINT
)
RETURNS TABLE
AS
RETURN
(
SELECT        VCHRNO, DIVISION, A_ACID, DRAMNT, CRAMNT, CHEQUEDATE, COSTCENTER, COMPANYID, REFVNO
FROM            RMD_TRNTRAN_DEBTORS  WITH (NOLOCK)  WHERE @ISDEBTORS=1
UNION ALL
SELECT        VCHRNO, DIVISION, A_ACID, DRAMNT, CRAMNT, CHEQUEDATE, COSTCENTER, COMPANYID, REFVNO
FROM            RMD_TRNTRAN_CREDITORS  WITH (NOLOCK)  WHERE @ISDEBTORS=0
)