CREATE OR ALTER   PROCEDURE  [dbo].[WSP_GETRECORDFORAGEING_CREDITORS]
--DECLARE
	@DATE DATE,
	@ACID VARCHAR(25) = '%',
	@DIV VARCHAR(3)='%',
	@PHISCALID VARCHAR(25) = '%',
	@COSTCENTER VARCHAR(50) = '%',	
	@DUEAMOUNT NUMERIC(24,12) = 0,
	@COMID VARCHAR(25) = '%'
AS


SET NOCOUNT ON

IF @COSTCENTER = ''
	SET @COSTCENTER = '%'
--SET @DATE = '03-15-2020'; SET @ACID = 'PA45484'; SET @DIV = 'MMX'; SET @COSTCENTER = '%'; SET @DUEAMOUNT = 177173.119999999999

DECLARE @REMAININGAMOUNT NUMERIC(24,12)
DECLARE @ENABLEPARTYOPENINGDETAIL TINYINT
SELECT  @ENABLEPARTYOPENINGDETAIL = ENABLEPARTYOPENINGDETAIL FROM SETTING WITH (NOLOCK) 
DECLARE @VCHRNO VARCHAR(25),@AMOUNT AS NUMERIC(24,12),@TDATE DATETIME,@CHECKDATE TINYINT,@DUEDATE DATETIME,@REFVNO VARCHAR(50),@REFDATE DATETIME
IF OBJECT_ID('TEMPDB..#VCHRFORAGEING') is not null drop table #VCHRFORAGEING

Create TABLE #VCHRFORAGEING (VCHRNO VARCHAR(25),TRNDATE DATETIME,AMOUNT numeric(24,10),VCHR_AMOUNT numeric(24,10), ACID VARCHAR(20),DUEAMNT NUMERIC(24,10),DUEDATE DATETIME,REFVNO VARCHAR(50),REFDATE DATETIME,CHECKDATE TINYINT)

BEGIN
	SET @REMAININGAMOUNT=@DUEAMOUNT
					
	IF @REMAININGAMOUNT < 0		-- IF NEGATIVE PARTY BALANCE 
		BEGIN
			INSERT INTO #VCHRFORAGEING(VCHRNO,ACID,TRNDATE,AMOUNT,VCHR_AMOUNT,DUEAMNT,CHECKDATE) VALUES('ZZZZZ',@ACID,'01-01-99',@REMAININGAMOUNT,@REMAININGAMOUNT,@DUEAMOUNT,0)
			GOTO DOBREAK
		END
	ELSE
		BEGIN
			IF @ENABLEPARTYOPENINGDETAIL = 0
				DECLARE VLIST_CURSOR  CURSOR FOR 
				SELECT B.VCHRNO,CRAMNT, CASE WHEN A.VCHRNO LIKE 'AO%' THEN CASE WHEN ISNULL(A.CHEQUEDATE,'') = '' THEN B.TRNDATE ELSE A.ChequeDate END ELSE B.TRNDATE END TRNDATE,DUEDATE,B.VCHRNO REFVNO,NULL REFDATE
				FROM RMD_TRNTRAN A  WITH (NOLOCK) INNER JOIN RMD_TRNMAIN B WITH (NOLOCK)  ON A.VCHRNO=B.VCHRNO AND A.COMPANYID = B.COMPANYID
				WHERE A.A_ACID = @ACID AND A.DIVISION LIKE @DIV AND B.PHISCALID = @PHISCALID AND ISNULL(A.COSTCENTER,'') LIKE @COSTCENTER  AND ISNULL(A.COMPANYID,'') = @COMID
				AND ISNULL(CRAMNT,0) > 0 AND B.TRNDATE <=@DATE 
				ORDER BY B.TRNDATE DESC
			ELSE
				DECLARE VLIST_CURSOR  CURSOR FOR 
				SELECT B.VCHRNO,CRAMNT, CASE WHEN A.VCHRNO LIKE 'AO%' THEN CASE WHEN ISNULL(A.CHEQUEDATE,'') = '' THEN B.TRNDATE ELSE A.ChequeDate END ELSE B.TRNDATE END TRNDATE,NULLIF(C.DUEDATE,'') DUEDATE,C.REFVNO,NULLIF(C.REFDATE,'') REFDATE FROM RMD_TRNTRAN_CREDITORS A  WITH (NOLOCK) 
				INNER JOIN RMD_TRNMAIN B  WITH (NOLOCK) ON A.VCHRNO=B.VCHRNO AND A.COMPANYID = B.COMPANYID
				LEFT JOIN PARTYOPENING_DETAIL C  WITH (NOLOCK) ON A.REFVNO=C.REFVNO AND A.VCHRNO = C.VCHRNO AND A.DIVISION=C.DIVISION
				WHERE A.A_ACID = @ACID AND A.DIVISION LIKE @DIV AND B.PHISCALID = @PHISCALID AND ISNULL(A.COSTCENTER,'') LIKE @COSTCENTER AND ISNULL(A.COMPANYID,'') = @COMID
				AND ISNULL(CRAMNT,0) > 0 AND B.TRNDATE <=@DATE
				ORDER BY B.TRNDATE DESC
			OPEN VLIST_CURSOR
			FETCH NEXT FROM VLIST_CURSOR INTO @VCHRNO,@AMOUNT,@TDATE,@DUEDATE,@REFVNO,@REFDATE
			WHILE @@FETCH_STATUS =0
			BEGIN
				IF LEFT(@VCHRNO,2) = 'AO'
					SET @CHECKDATE = 1
				ELSE
					SET @CHECKDATE = 2

				IF @REMAININGAMOUNT <= @AMOUNT 
					BEGIN
						INSERT INTO #VCHRFORAGEING(VCHRNO,ACID,TRNDATE,AMOUNT,VCHR_AMOUNT,DUEAMNT,DUEDATE,REFVNO,REFDATE,CHECKDATE) VALUES(@VCHRNO,@ACID,@TDATE,@REMAININGAMOUNT,@AMOUNT,@DUEAMOUNT,@DUEDATE,@REFVNO,@REFDATE,@CHECKDATE)
						GOTO ENDCURSOR
					END
				ELSE
					BEGIN

						SET @REMAININGAMOUNT = @REMAININGAMOUNT-@AMOUNT
						INSERT INTO #VCHRFORAGEING(VCHRNO,ACID,TRNDATE,AMOUNT,VCHR_AMOUNT,DUEAMNT,DUEDATE,REFVNO,REFDATE,CHECKDATE) VALUES(@VCHRNO,@ACID,@TDATE,@AMOUNT,@AMOUNT,@DUEAMOUNT,@DUEDATE,@REFVNO,@REFDATE,@CHECKDATE)
					END
					FETCH NEXT FROM VLIST_CURSOR INTO @VCHRNO,@AMOUNT,@TDATE,@DUEDATE,@REFVNO,@REFDATE
			END
	ENDCURSOR:
			CLOSE VLIST_CURSOR
			DEALLOCATE VLIST_CURSOR
		END
	END	
	DOBREAK:
	SELECT * FROM #VCHRFORAGEING

SET NOCOUNT OFF
