CREATE OR ALTER   PROCEDURE [dbo].[WSP_DEBTORSCREDITORS_OUTSTANDING_DETAIL] 
--DECLARE
	@DATE VARCHAR(25) ,
	@DIV VARCHAR(3) = '%' ,
	@COMID VARCHAR(25) = '%' ,
	@PHISCALID VARCHAR(15) = '%',
	@COSTCENTER VARCHAR(50) = '%',
	@ACID VARCHAR(MAX) = '%',
	@AREA FLOAT = 0,
	@PARTYGROUP VARCHAR(25) = '%',
	@REPORTTYPE TINYINT = 1,		-- 0 REGULAR LEDGER REPORT,  1 MULTIPLE LEDGER WISE REPORT, 2 AREA WISE LEDGER REPORT,  3 COSTCENTER SEGREGATED WISE LEDGER REPORT, 4 MULTIPLE COSTCENTER WISE REPORT
	@ISDEBTORS TINYINT = 0
AS


SET NOCOUNT ON

IF @COSTCENTER = ''
	SET @COSTCENTER  = '%'

if OBJECT_ID('tempdb..#AGINGAMOUNT') is not null drop table #AGINGAMOUNT

Create TABLE #AGINGAMOUNT (VCHRNO VARCHAR(25),TRNDATE DATETIME,AMOUNT numeric(24,10),VCHR_AMNT NUMERIC(24,10),ACID VARCHAR(20),DUEAMOUNT NUMERIC(24,10), DUEDATE DATETIME,REFVNO VARCHAR(50),REFDATE DATETIME,CHECKDATE TINYINT,DAYSDIFF FLOAT,COMPANYID VARCHAR(25))


if OBJECT_ID('tempdb..#ACID_LIST') is not null drop table #ACID_LIST

CREATE TABLE #ACID_LIST (ACID VARCHAR(25))


IF @REPORTTYPE <> 2	 --LEDGER WISE
BEGIN
	IF @ACID = '%'
	INSERT INTO #ACID_LIST 
	SELECT ACID FROM RMD_ACLIST WHERE ACID LIKE 'PA%' AND (ISCOMMON = 1 OR PType = IIF(@ISDEBTORS = 1,'C','V'))
	ELSE
	INSERT INTO #ACID_LIST 
	SELECT DISTINCT * FROM DBO.Split(@ACID,',')
END
ELSE IF @REPORTTYPE = 2 -- AREA WISE
	INSERT INTO #ACID_LIST SELECT DISTINCT ACID FROM RMD_ACLIST WITH (NOLOCK) WHERE ACID LIKE 'PA%' AND ((@AREA=0 AND 1=1) OR (@AREA<>0 AND ISNULL(AREA_ID,0) = @AREA)) 


IF OBJECT_ID('TEMPDB..#DUEVOUCHERLIST') is not null drop table #DUEVOUCHERLIST

SELECT X.ACNAME, X.ADDRESS, X.VATNO, B.TRNDATE, B.BSDATE,A.VCHRNO,ISNULL(B.REFBILL,'')REFBILL, IIF(@ISDEBTORS=1,SUM(DRAMNT)-SUM(CRAMNT),SUM(CRAMNT)-SUM(DRAMNT))  AS AMOUNT , A.A_ACID AS ACID,
ISNULL(A.COSTCENTER,'')COSTCENTER,B.DIVISION,B.PHISCALID,B.DUEDATE,B.Stamp  
INTO #DUEVOUCHERLIST
FROM RMD_TRNTRAN  A  WITH (NOLOCK) 
INNER JOIN RMD_TRNMAIN B WITH (NOLOCK)  ON A.VCHRNO = B.VCHRNO
INNER JOIN RMD_ACLIST X  WITH (NOLOCK) ON A.A_ACID = X.ACID 
INNER JOIN #ACID_LIST XX ON A.A_ACID = XX.ACID
WHERE B.TRNDATE<= @DATE  AND B.DIVISION LIKE @DIV AND B.PHISCALID = @PHISCALID  and x.ACID like 'PA%' and x.PType = IIF(@ISDEBTORS=1,'C','V')
GROUP BY B.TRNDATE, B.BSDATE,A.VCHRNO,ISNULL(B.REFBILL,''),A.A_ACID,X.ACNAME, X.ADDRESS, X.VATNO,ISNULL(A.COSTCENTER,''),B.DIVISION,B.PHISCALID,B.DUEDATE,B.Stamp
HAVING IIF(@ISDEBTORS=1,SUM(DRAMNT)-SUM(CRAMNT),SUM(CRAMNT)-SUM(DRAMNT)) > 0


DECLARE @ENABLEPARTYOPENING_DETAIL TINYINT
SELECT @ENABLEPARTYOPENING_DETAIL = ENABLEPARTYOPENINGDETAIL FROM SETTING


IF OBJECT_ID('TEMPDB..#DUEVLIST') is not null drop table #DUEVLIST

SELECT A.* INTO #DUEVLIST FROM
(
SELECT VCHRNO,DIVISION,REFBILL,TRNDATE,NULL REFDATE,A.ACID,ACNAME,ADDRESS,VATNO,AMOUNT,0 CLRAMNT,DUEDATE, Stamp , VCHRNO VNO , A.AMOUNT AMT FROM #DUEVOUCHERLIST A JOIN #ACID_LIST B ON A.ACID = B.ACID WHERE
TRNDATE<= @DATE AND DIVISION LIKE @DIV AND PHISCALID = @PHISCALID
AND ((@ENABLEPARTYOPENING_DETAIL = 1 AND VCHRNO NOT LIKE 'AO%') OR (@ENABLEPARTYOPENING_DETAIL = 0  AND VCHRNO NOT LIKE '~~%'))
UNION ALL
SELECT A.REFVNO VCHRNO,A.DIVISION,A.VCHRNO REFBILL,B.TRNDATE,CONVERT(datetime,A.REFDATE) REFDATE,A.ACID,B.ACNAME,B.ADDRESS,B.VATNO,A.AMOUNT,A.CLRAMOUNT CLRAMNT, ISNULL(A.DUEDATE,B.DUEDATE) AS DUEDATE, B.Stamp , A.VCHRNO VNO , B.AMOUNT AMT FROM PARTYOPENING_DETAIL A WITH (NOLOCK) 
INNER JOIN #DUEVOUCHERLIST B ON A.VCHRNO = B.VCHRNO 
JOIN #ACID_LIST C ON C.ACID = A.ACID
WHERE B.VCHRNO LIKE 'AO%' AND @ENABLEPARTYOPENING_DETAIL = 1 AND A.DIVISION LIKE @DIV AND A.PHISCALID = @PHISCALID
) A ORDER BY TRNDATE,VCHRNO


IF OBJECT_ID('TEMPDB..#PAIDLIST') is not null drop table #PAIDLIST

SELECT X.ACNAME, X.ADDRESS, X.VATNO, B.TRNDATE, B.BSDATE,A.VCHRNO,ISNULL(B.REFBILL,'')REFBILL,IIF(@ISDEBTORS=1,SUM(CRAMNT)-SUM(DRAMNT),SUM(DRAMNT)-SUM(CRAMNT))   AS AMOUNT,A.A_ACID AS ACID,
ISNULL(A.COSTCENTER,'')COSTCENTER,B.DIVISION,B.PHISCALID,B.DUEDATE,B.Stamp  
INTO #PAIDLIST 
FROM RMD_TRNTRAN  A  WITH (NOLOCK) 
INNER JOIN RMD_TRNMAIN B WITH (NOLOCK)  ON A.VCHRNO = B.VCHRNO 
INNER JOIN RMD_ACLIST X WITH (NOLOCK)  ON A.A_ACID = X.ACID 
INNER JOIN #ACID_LIST XX ON A.A_ACID = XX.ACID
WHERE B.TRNDATE<= @DATE AND B.DIVISION LIKE @DIV AND B.PHISCALID = @PHISCALID  and x.ACID like 'PA%' and x.PType = IIF(@ISDEBTORS=1,'C','V')
GROUP BY B.TRNDATE, B.BSDATE,A.VCHRNO,ISNULL(B.REFBILL,''),A.A_ACID,X.ACNAME, X.ADDRESS, X.VATNO,ISNULL(A.COSTCENTER,''),B.DIVISION,B.PHISCALID,B.DUEDATE,B.STAMP
HAVING IIF(@ISDEBTORS=1,SUM(CRAMNT)-SUM(DRAMNT),SUM(DRAMNT)-SUM(CRAMNT)) > 0


IF OBJECT_ID('TEMPDB..#TRACKVLIST') is not null drop table #TRACKVLIST

select * INTO #TRACKVLIST FROM (
SELECT a.ACNAME, a.ADDRESS, a.VATNO, A.TRNDATE, BSDATE, A.VCHRNO, B.REFBILL, B.AMOUNT, A.ACID, COSTCENTER, A.DIVISION,  A.PHISCALID, a.DUEDATE, A.STAMP ,x.VNO
FROM #PAIDLIST A 
LEFT JOIN RMD_BILLTRACK B  WITH (NOLOCK) ON A.VCHRNO = B.VCHRNO 
LEFT JOIN #DUEVLIST X  ON B.REFBILL = X.VCHRNO 
WHERE B.VCHRNO IS NOT NULL and b.REFBILL NOT LIKE IIF(@ISDEBTORS=1,'CN%','DN%') 
union all
SELECT a.ACNAME, a.ADDRESS, a.VATNO, A.TRNDATE, BSDATE, A.VCHRNO, a.REFBILL, B.AMOUNT, A.ACID, COSTCENTER, A.DIVISION,  A.PHISCALID, a.DUEDATE, A.Stamp , x.VNO
from #PAIDLIST a 
inner join RMD_BILLTRACK b WITH (NOLOCK)  on a.ACID = b.ACID and a.VCHRNO = b.REFBILL  
LEFT JOIN #DUEVLIST X  ON B.REFBILL = X.VCHRNO 
WHERE a.VCHRNO like IIF(@ISDEBTORS=1,'CN%','DN%')
) x

--select SUM(AMOUNT)OVER(PARTITION BY ACID ORDER BY ACID),* from #TRACKVLIST

IF OBJECT_ID('TEMPDB..#VCHRFORAGEING') is not null drop table #VCHRFORAGEING

Create TABLE #VCHRFORAGEING (VCHRNO VARCHAR(25),TRNDATE DATETIME,AMOUNT numeric(24,10),VCHR_AMOUNT numeric(24,10), ACID VARCHAR(20),DUEAMNT NUMERIC(24,10), DUEDATE DATETIME,REFVNO VARCHAR(50),REFDATE DATETIME,CHECKDATE TINYINT)

DECLARE @AC VARCHAR(20),@DUEAMNT AS numeric(24,12)
DECLARE DEBGTORSCREDITROS_CURSOR CURSOR FOR	
SELECT ACID , SUM(BL) BL FROM (
	SELECT ACID , SUM(AMOUNT) BL  
	FROM #DUEVOUCHERLIST d   
	--where not exists (select VCHRNO,VNO from #trackvlist t where d.VCHRNO = t.VNO or d.VCHRNO = t.REFBILL) 
	GROUP BY ACID
	UNION ALL
	SELECT ACID , SUM(AMOUNT)*-1 BL 
	FROM #PAIDLIST P 
	--WHERE NOT EXISTS (SELECT VCHRNO FROM #TRACKVLIST T WHERE P.VCHRNO =T.VCHRNO) 
	GROUP BY ACID
	) A GROUP BY ACID

OPEN DEBGTORSCREDITROS_CURSOR 

FETCH NEXT FROM DEBGTORSCREDITROS_CURSOR INTO @AC,@DUEAMNT
BEGIN
	WHILE @@FETCH_STATUS =0
		BEGIN
					DECLARE @VCHRNO VARCHAR(25),@AMOUNT AS NUMERIC(24,12),@DUEDATE DATETIME,@REFVNO VARCHAR(50),@REFDATE DATETIME,@REMAININGAMOUNT AS numeric(24,10), @TDATE DATETIME,@CHKDATE INT,@TRACKAMT NUMERIC(24,12)

					SET @REMAININGAMOUNT=@DUEAMNT

					IF @REMAININGAMOUNT <= 0		-- IF NEGATIVE PARTY BALANCE 
						BEGIN
							INSERT INTO #VCHRFORAGEING(VCHRNO,ACID,TRNDATE,AMOUNT,VCHR_AMOUNT,DUEAMNT,DUEDATE,CHECKDATE) VALUES('ZZZZZ',@AC,'01-01-99',0,0,0,NULL,0)
							GOTO DOBREAK
						END
					ELSE
						BEGIN
							SET @TRACKAMT = isnull((SELECT sum(B.AMOUNT-B.CLRAMNT-C.AMOUNT)  FROM RMD_TRNMAIN a WITH (NOLOCK)  JOIN #DUEVLIST B ON A.VCHRNO = B.VNO JOIN  #TRACKVLIST C on a.VCHRNO = C.VNO WHERE b.ACID = @AC),0)
							
							IF OBJECT_ID('TEMPDB..#vlist_cursor') is not null drop table #vlist_cursor --@VCHRNO,@AMOUNT,@TDATE,@DUEDATE,@REFVNO,@REFDATE
							create table #vlist_cursor (vchrno varchar(50) , amount numeric(32,8) , TRNDATE DATETIME , DUEDATE DATETIME, REFVNO VARCHAR(50),REFDATE DATETIME , TRNDATETIME DATETIME)

						IF @TRACKAMT >= @REMAININGAMOUNT
						BEGIN
							INSERT INTO #vlist_cursor
							SELECT A.VCHRNO VCHRNO,B.AMOUNT-B.CLRAMNT-C.AMOUNT dueamount,isnull(REFDATE,a.trndate) trndate,B.DUEDATE,b.REFBILL,b.REFDATE,A.TRNDATE+A.TRNTIME
							FROM RMD_TRNMAIN a WITH (NOLOCK)  	JOIN #DUEVLIST B ON A.VCHRNO = B.VNO JOIN  #TRACKVLIST C on a.VCHRNO = C.VNO
						END
						ELSE
						BEGIN
						
							set @REMAININGAMOUNT =  @REMAININGAMOUNT -@TRACKAMT

							IF @ENABLEPARTYOPENING_DETAIL = 0
							BEGIN
								insert into #vlist_cursoR
								SELECT B.VCHRNO,SUM(IIF(@ISDEBTORS=1,DRAMNT,CRAMNT)) DRAMNT, CASE WHEN A.VCHRNO LIKE 'AO%' THEN CASE WHEN ISNULL(A.CHEQUEDATE,'') = '' THEN B.TRNDATE ELSE A.ChequeDate END ELSE B.TRNDATE END				TRNDATE,DUEDATE,B.VCHRNO REFVNO,NULL REFDATE,B.TRNDATE+B.TRNTIME
								FROM RMD_TRNTRAN A  WITH (NOLOCK) 
								INNER JOIN RMD_TRNMAIN B WITH (NOLOCK)  ON A.VCHRNO=B.VCHRNO 
								WHERE NOT EXISTS 
									(select VCHRNO,VNO from #trackvlist t where B.VCHRNO = t.VNO or B.VCHRNO = t.VCHRNO) AND A.A_ACID = @AC AND A.DIVISION LIKE @DIV AND ISNULL(A.COSTCENTER,'') LIKE @COSTCENTER AND B.PHISCALID = @PHISCALID --AND ISNULL(A.COMPANYID,'') = @COMID 
									AND ISNULL(IIF(@ISDEBTORS=1,DRAMNT,CRAMNT),0) > 0 AND B.TRNDATE <=@DATE 
								GROUP BY B.VCHRNO ,  CASE WHEN A.VCHRNO LIKE 'AO%' THEN CASE WHEN ISNULL(A.CHEQUEDATE,'') = '' THEN B.TRNDATE ELSE A.ChequeDate END ELSE B.TRNDATE END , DUEDATE ,B.TRNDATE+B.TRNTIME
							END
							ELSE
							BEGIN
								insert into #vlist_cursor
								SELECT B.VCHRNO,SUM(IIF(@ISDEBTORS=1,DRAMNT,CRAMNT)), CASE WHEN A.VCHRNO LIKE 'AO%' THEN CASE WHEN ISNULL(A.CHEQUEDATE,'') = '' THEN B.TRNDATE ELSE A.ChequeDate END ELSE B.TRNDATE END			TRNDATE,NULLIF	(C.DUEDATE,'') ,C.REFVNO,NULLIF(C.REFDATE,'') REFDATE,B.TRNDATE+TRNTIME FROM --
								DBO.FN_RMD_TRNTRAN_DEBTORSCREDITORS(@ISDEBTORS) A 
								INNER JOIN RMD_TRNMAIN B WITH (NOLOCK)  ON A.VCHRNO=B.VCHRNO AND A.DIVISION=B.DIVISION AND A.COMPANYID = B.COMPANYID
								LEFT JOIN PARTYOPENING_DETAIL C WITH (NOLOCK)  ON A.REFVNO=C.REFVNO AND A.VCHRNO=C.VCHRNO AND A.DIVISION = C.DIVISION
								WHERE NOT EXISTS (select VCHRNO,VNO from #trackvlist t where B.VCHRNO = t.VNO or B.VCHRNO = t.VCHRNO) AND A.A_ACID = @AC AND A.DIVISION LIKE @DIV AND ISNULL(A.COSTCENTER,'') LIKE @COSTCENTER AND B.PHISCALID = @PHISCALID --AND ISNULL(A.COMPANYID,'')= @COMID
								AND ISNULL(IIF(@ISDEBTORS=1,DRAMNT,CRAMNT),0) > 0 AND B.TRNDATE <=@DATE
								GROUP BY B.VCHRNO ,  CASE WHEN A.VCHRNO LIKE 'AO%' THEN CASE WHEN ISNULL(A.CHEQUEDATE,'') = '' THEN B.TRNDATE ELSE A.ChequeDate END ELSE B.TRNDATE END ,C.DUEDATE ,C.REFVNO,C.REFDATE ,B.TRNDATE+B.TRNTIME
							END
						END

							declare VLIST_CURSOR cursor for select vchrno , amount , TRNDATE , DUEDATE , REFVNO ,REFDATE  from #vlist_cursor ORDER BY TRNDATETIME DESC
							OPEN VLIST_CURSOR
							FETCH NEXT FROM VLIST_CURSOR INTO @VCHRNO,@AMOUNT,@TDATE,@DUEDATE,@REFVNO,@REFDATE
							WHILE @@FETCH_STATUS =0
							BEGIN
								IF LEFT(@VCHRNO,2) = 'AO'
									SET @CHKDATE = 1
								ELSE
									SET @CHKDATE = 2

								IF @REMAININGAMOUNT <= @AMOUNT 
									BEGIN
										INSERT INTO #VCHRFORAGEING(VCHRNO,ACID,TRNDATE,AMOUNT,VCHR_AMOUNT,DUEAMNT,DUEDATE,REFVNO,REFDATE,CHECKDATE) VALUES				(@VCHRNO,@AC,@TDATE,@REMAININGAMOUNT,@AMOUNT,@DUEAMNT,@DUEDATE,@REFVNO,@REFDATE,@CHKDATE)
										GOTO ENDCURSOR
									END
								ELSE
									BEGIN						
										SET @REMAININGAMOUNT = @REMAININGAMOUNT-@AMOUNT
										INSERT INTO #VCHRFORAGEING(VCHRNO,ACID,TRNDATE,AMOUNT,VCHR_AMOUNT,DUEAMNT,DUEDATE,REFVNO,REFDATE,CHECKDATE) VALUES				(@VCHRNO,@AC,@TDATE,@AMOUNT,@AMOUNT,@DUEAMNT,@DUEDATE,@REFVNO,@REFDATE,@CHKDATE)
									END
									FETCH NEXT FROM VLIST_CURSOR INTO @VCHRNO,@AMOUNT,@TDATE,@DUEDATE,@REFVNO,@REFDATE
							END
					ENDCURSOR:
							CLOSE VLIST_CURSOR
							DEALLOCATE VLIST_CURSOR
						END
			--HERE		
					DOBREAK:
					INSERT INTO #AGINGAMOUNT (VCHRNO,TRNDATE,AMOUNT,VCHR_AMNT,ACID,DUEAMOUNT,DUEDATE,REFVNO,REFDATE,CHECKDATE)
					SELECT * FROM #VCHRFORAGEING
					delete from #VCHRFORAGEING

			FETCH NEXT FROM DEBGTORSCREDITROS_CURSOR INTO @AC,@DUEAMNT
		END		
END
CLOSE DEBGTORSCREDITROS_CURSOR
DEALLOCATE DEBGTORSCREDITROS_CURSOR


	--PREPARING OUTSTANDING VOUCHER LIST FOR DISPLAY
	------------------------------------------------
	--SELECT * FROM #TRACKVLIST

	if OBJECT_ID('tempdb..#RESULT') is not null drop table #RESULT
	
	SELECT * INTO #RESULT FROM (
	SELECT A.TRNDATE,A.BSDATE,ISNULL(B.REFBILL,A.VCHRNO) VCHRNO,REFDATE,A.CHALANNO,B.AMOUNT BILLAMOUNT,B.CLRAMNT+C.AMOUNT CLRAMOUNT,B.AMOUNT-B.CLRAMNT-C.AMOUNT DUEAMOUNT,B.DUEDATE,
	DATEDIFF(D,ISNULL(B.REFDATE,A.TRNDATE),@date) AGE ,
	CASE WHEN ISNULL(B.DUEDATE,ISNULL(B.REFDATE,B.TRNDATE)+CASE WHEN ISNULL(X.CRPERIOD,0)=0 THEN 30 ELSE X.CRPERIOD END) < @DATE THEN 'MATURED' ELSE 'UNMATURED' END STATUS,
	X.ACNAME PNAME,Y.AREA_NAME AREANAME,b.ACID
	FROM RMD_TRNMAIN a  WITH (NOLOCK) 	
	JOIN #DUEVLIST B ON A.VCHRNO = B.VNO 
	JOIN  #TRACKVLIST C on a.VCHRNO = C.VNO 
	JOIN RMD_ACLIST x  WITH (NOLOCK) ON B.ACID = X.ACID  
	LEFT JOIN TBLAREA Y WITH (NOLOCK)  ON X.AREA_ID =Y.AREA_ID
	--where A.VCHRNO  NOT IN  (select VCHRNO from #AGINGAMOUNT t ) 
	UNION ALL
	SELECT B.TRNDATE,B.BSDATE,ISNULL(A.REFVNO,B.VCHRNO) VCHRNO,REFDATE,B.CHALANNO,A.VCHR_AMNT BILLAMOUNT,A.VCHR_AMNT-A.AMOUNT CLRAMOUNT,A.AMOUNT DUEAMOUNT,
	ISNULL(A.DUEDATE,ISNULL(A.REFDATE,B.TRNDATE)+CASE WHEN ISNULL(X.CRPERIOD,0)=0 THEN 30 ELSE X.CRPERIOD END) DUEDATE,DATEDIFF(d,COALESCE(A.REFDATE,A.TRNDATE,B.TRNDATE),@date)AGE,
	CASE WHEN ISNULL(A.DUEDATE,ISNULL(A.REFDATE,B.TRNDATE)+CASE WHEN ISNULL(X.CRPERIOD,0)=0 THEN 30 ELSE X.CRPERIOD END) < @DATE THEN 'MATURED' ELSE 'UNMATURED' END STATUS,
	X.ACNAME PNAME,Y.AREA_NAME AREANAME,A.ACID
	FROM #AGINGAMOUNT A 
	INNER JOIN RMD_TRNMAIN B WITH (NOLOCK)  ON A.VCHRNO = B.VCHRNO 
	INNER JOIN RMD_ACLIST X  WITH (NOLOCK) ON A.ACID = X.ACID 
	LEFT JOIN TBLAREA Y WITH (NOLOCK)  ON X.AREA_ID =Y.AREA_ID
	)A


IF @REPORTTYPE = 0		-- NO GROUPING
BEGIN
	SELECT [BSDATE] MITI,FORMAT(TRNDATE,'dd/MM/yyyy') [DATE],VCHRNO [VOUCHER NO],FORMAT(REFDATE,'dd/MM/yyyy') REFDATE,FORMAT(BILLAMOUNT,'#,#0.00')[BILL AMOUNT],FORMAT(CLRAMOUNT,'#,#0.00') [PAID AMOUNT],
	FORMAT(DUEAMOUNT,'#,#0.00')[DUE AMOUNT],FORMAT(DUEDATE,'dd/MM/yyyy') [DUE DATE],AGE,STATUS,PNAME,FFLG FROM
	(
	SELECT A.TRNDATE,A.BSDATE,A.VCHRNO,REFDATE,A.CHALANNO,A.BILLAMOUNT,A.CLRAMOUNT,A.DUEAMOUNT,A.DUEDATE,A.AGE,A.STATUS,PNAME,'A' FLG,'R' FFLG
	FROM #RESULT A
	UNION ALL
	SELECT DISTINCT NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,PNAME,'B' FLG,'R' FFLG	FROM #RESULT
	
	)A ORDER BY FLG,TRNDATE,DUEDATE

	SELECT 'TOTAL OUTSTANDING >>' [VOUCHER NO],NULL,FORMAT(SUM(BILLAMOUNT),'N2')[BILL AMOUNT] ,FORMAT(SUM(CLRAMOUNT),'N2')[PAID AMOUNT],FORMAT(SUM(DUEAMOUNT),'N2')[DUE AMOUNT] FROM #RESULT


END
ELSE IF @REPORTTYPE = 1	-- MULTIPLE LEDGER WISE
BEGIN
	SELECT FORMAT(TRNDATE,'dd/MM/yyyy') [DATE],[BSDATE] MITI,VCHRNO [VOUCHER NO],FORMAT(REFDATE,'dd/MM/yyyy') REFDATE,FORMAT(BILLAMOUNT,'#,#0.00')[BILL AMOUNT],FORMAT(CLRAMOUNT,'#,#0.00') [PAID AMOUNT],
	FORMAT(DUEAMOUNT,'#,#0.00')[DUE AMOUNT],FORMAT(DUEDATE,'dd/MM/yyyy') [DUE DATE],AGE,STATUS,PNAME,FFLG FROM
	(
	SELECT DISTINCT NULL TRNDATE,A.PNAME BSDATE,NULL VCHRNO,NULL REFDATE,NULL CHALANNO,NULL BILLAMOUNT,NULL CLRAMOUNT, NULL DUEAMOUNT,NULL DUEDATE,NULL AGE,
	NULL STATUS,A.PNAME,'A' FLG,'B' FFLG,'01-01-18' TDATE FROM #RESULT A
	UNION ALL
	SELECT A.TRNDATE,A.BSDATE,A.VCHRNO,A.REFDATE,A.CHALANNO,A.BILLAMOUNT,A.CLRAMOUNT,A.DUEAMOUNT,A.DUEDATE,A.AGE,A.STATUS,PNAME,'B' FLG,'R' FFLG,A.TRNDATE TDATE
	FROM #RESULT A
	UNION ALL
	SELECT NULL,NULL,'TOTAL >>',NULL,NULL,SUM(BILLAMOUNT),SUM(CLRAMOUNT),SUM(DUEAMOUNT),NULL,NULL,NULL,PNAME,'C' FLG,'B' FFLG,'01-01-18' TDATE FROM #RESULT GROUP BY PNAME
	UNION ALL
	SELECT DISTINCT NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,PNAME,'D' FLG,'R' FFLG,'01-01-18' TDATE
	FROM #RESULT
	)A ORDER BY PNAME,FLG,TDATE,DUEDATE

	SELECT 'TOTAL OUTSTANDING >>' [VOUCHER NO],NULL,FORMAT(SUM(BILLAMOUNT),'N2')[BILL AMOUNT] ,FORMAT(SUM(CLRAMOUNT),'N2')[PAID AMOUNT],FORMAT(SUM(DUEAMOUNT),'N2')[DUE AMOUNT] FROM #RESULT
END
ELSE IF @REPORTTYPE = 2	-- MULTIPLE LEDGER WISE : AREA WISE
	BEGIN
		SELECT FORMAT(TRNDATE,'dd/MM/yyyy') [DATE],[BSDATE] MITI,VCHRNO [VOUCHER NO],FORMAT(REFDATE,'dd/MM/yyyy') REFDATE,FORMAT(BILLAMOUNT,'#,#0.00')[BILL AMOUNT],FORMAT(CLRAMOUNT,'#,#0.00') [PAID AMOUNT],
		FORMAT(DUEAMOUNT,'#,#0.00')[DUE AMOUNT],FORMAT(DUEDATE,'dd/MM/yyyy') [DUE DATE],AGE,STATUS,PNAME,FFLG FROM
		(
		SELECT DISTINCT NULL TRNDATE,A.PNAME + ' | ' + ISNULL(A.AREANAME,'') BSDATE,NULL VCHRNO,NULL REFDATE,NULL CHALANNO,NULL BILLAMOUNT,NULL CLRAMOUNT, NULL DUEAMOUNT,NULL DUEDATE,NULL AGE,
		NULL STATUS,A.PNAME,'A' FLG,'B' FFLG,'01-01-18' TDATE FROM #RESULT A
		UNION ALL
		SELECT A.TRNDATE,A.BSDATE,A.VCHRNO,A.REFDATE,A.CHALANNO,A.BILLAMOUNT,A.CLRAMOUNT,A.DUEAMOUNT,A.DUEDATE,A.AGE,A.STATUS,PNAME,'B' FLG,'R' FFLG,A.TRNDATE TDATE
		FROM #RESULT A
		UNION ALL
		SELECT NULL,NULL,'TOTAL >>',NULL,NULL,SUM(BILLAMOUNT),SUM(CLRAMOUNT),SUM(DUEAMOUNT),NULL,NULL,NULL,PNAME,'C' FLG,'B' FFLG,'01-01-18' TDATEWW FROM #RESULT GROUP BY PNAME
		UNION ALL
		SELECT DISTINCT NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL, PNAME,'D' FLG,'R' FFLG,'01-01-18' TDATE 
		FROM #RESULT
		)A ORDER BY PNAME,FLG,TDATE
		
		SELECT 'TOTAL OUTSTANDING >>' [VOUCHER NO],NULL,FORMAT(SUM(BILLAMOUNT),'N2')[BILL AMOUNT] ,FORMAT(SUM(CLRAMOUNT),'N2')[PAID AMOUNT],FORMAT(SUM(DUEAMOUNT),'N2')[DUE AMOUNT] FROM #RESULT
	END	

if OBJECT_ID('tempdb..#AGINGAMOUNT') is not null drop table #AGINGAMOUNT
if OBJECT_ID('tempdb..#RESULT') is not null drop table #RESULT
if OBJECT_ID('tempdb..#ACID_LIST') is not null drop table #ACID_LIST
IF OBJECT_ID('TEMPDB..#vlist_cursor') is not null drop table #vlist_cursor
IF OBJECT_ID('TEMPDB..#TRACKVLIST') is not null drop table #TRACKVLIST
IF OBJECT_ID('TEMPDB..#DUEVOUCHERLIST') is not null drop table #DUEVOUCHERLIST
IF OBJECT_ID('TEMPDB..#DUEVLIST') is not null drop table #DUEVLIST
IF OBJECT_ID('TEMPDB..#PAIDLIST') is not null drop table #PAIDLIST
IF OBJECT_ID('TEMPDB..#VCHRFORAGEING') is not null drop table #VCHRFORAGEING
SET NOCOUNT OFF
